<!DOCTYPE html>
<html>

<head></head>

<body>
	<span th:fragment="colorstat">
		<span th:switch="${rank}">
			<span th:case="${T(com.felarca.ootp.domain.Tournament.Rank).GOOD}" class="badge badge-success">
				<span th:text="${label}" />
				<span class="badge badge-light">
					<span th:text="${value}" />
				</span>
			</span>
		<span th:case="${T(com.felarca.ootp.domain.Tournament.Rank).BETTER}" class="badge badge-primary">
			<span th:text="${label}" />
			<span class="badge badge-light">
				<span th:text="${value}" />
			</span>
		</span>
		<span th:case="${T(com.felarca.ootp.domain.Tournament.Rank).WORSE}" class="badge badge-warning"><span
					th:text="${label}" /><span class="badge badge-light"><span th:text="${value}" /></span></span>
		<span th:case="${T(com.felarca.ootp.domain.Tournament.Rank).BAD}" class="badge badge-danger"><span
					th:text="${label}" /><span class="badge badge-light"><span th:text="${value}" /></span></span>
		</span>
	</span>
</body>

</html>