<!DOCTYPE html>
<html>

<head></head>

<body>
	<div th:fragment="draftpitchingline">
		<table id="searchable-pitchers" class="table table-hover">
			<thead>
				<tr class="avoid">
					<th>Search:</th>
					<th colspan="5">
					  <input id="search-pitchers" type="text" placeholder="Search here..."/>
					</th>
				  </tr>
				  <tr class="avoid">
					  <td id="filter-preview" colspan="4"></td>
					  <td>Case Insensitive:</td>
					<td class="text-left"><input id="caseinsensitive" type="checkbox" checked="checked"/></td>
				  </tr>
				  <tr class="avoid">
				  <td id="results"colspan=6></td>
				  </tr>
				
				<tr class="avoid">
					<th>Card</th>
					<th>Badges</th>
					<th>OVR</th>
					<th>IP</th>
					<th>FIP</th>
					<th>ERA</th>
				</tr>
			</thead>
			<tbody>
				<span th:each="hitter : ${hitters}">
					<div th:with="card=${cards.getCard(hitter.cid)}">
						<tr th:if="${card.overall < lessThan and card.overall >= greaterThan}">
							<td>
								<span th:text="${card.fn}" />&nbsp<span th:text="${card.ln}" />
								<br />
								<span th:if="${card.stamina > 50 }">
									<span class="badge rounded-pill bg-success text-light">
										Stam
										<span class="badge badge-light">
											<span th:text="${card.stamina}" />
										</span>
									</span>
								</span>
								<span th:if="${card.stamina <= 50 }">
									<span class="badge rounded-pill bg-primary text-light">
										Stam
										<span class="badge badge-light">
											<span th:text="${card.stamina}" />
										</span>
									</span>
								</span>


								<span th:text="${card.handed}" class="badge badge-pill badge-dark" />

								<span th:if="${card.splits <= 20 and card.splits >= -20}">
									<span class="badge rounded-pill bg-success text-light">N</span>
								</span>
								<span th:if="${card.splits > 20 and card.handed == 'LHP'}">
									<span class="badge badge-primary">L
										<span class="badge badge-light">
											<span th:text="${card.splits}" />
										</span></span>
								</span>
								<span th:if="${card.splits &lt; -20 and card.handed == 'RHP'}">
									<span class="badge badge-primary">R
										<span class="badge badge-light">
											<span th:text="${T(java.lang.Math).abs(card.splits)}" />
										</span></span>
								</span>
								<span th:if="${card.splits > 20 and card.handed == 'RHP'}">
									<span class="badge rounded-pill bg-danger text-light">
										R
										<span class="badge badge-light">
											<span th:text="${card.splits}" />
										</span>
									</span>
								</span>
								<span th:if="${card.splits &lt; -20 and card.handed == 'LHP'}">
									<span class="badge rounded-pill bg-danger text-light">R</span>
								</span>


							</td>
							<td>
								vL
								<span
									th:with="rank=${tournament.getRank(card.stuffvl, card.throws, T(com.felarca.ootp.domain.CardStatSet.Stat).AVK)}">
									<span
										th:replace="fragments/ColorStat :: colorstat(value=${card.stuffvl}, rank=${rank}, label=Stu)" />
								</span>
								<span
									th:with="rank=${tournament.getRank(card.pbabipvl, card.throws, T(com.felarca.ootp.domain.CardStatSet.Stat).BABIP)}">
									<div
										th:replace="fragments/ColorStat :: colorstat(value=${card.pbabipvl}, rank=${rank}, label=Bab)" />
								</span>
								<span
									th:with="rank=${tournament.getRank(card.phrvl, card.throws, T(com.felarca.ootp.domain.CardStatSet.Stat).POWER)}">
									<div
										th:replace="fragments/ColorStat :: colorstat(value=${card.phrvl}, rank=${rank}, label=Hr)" />
								</span>
								<span
									th:with="rank=${tournament.getRank(card.controlvl, card.throws, T(com.felarca.ootp.domain.CardStatSet.Stat).EYE)}">
									<div
										th:replace="fragments/ColorStat :: colorstat(value=${card.controlvl}, rank=${rank}, label=Con)" />
								</span>
								<br />
								vR
								<span
									th:with="rank=${tournament.getRank(card.stuffvr, card.throws, T(com.felarca.ootp.domain.CardStatSet.Stat).AVK)}">
									<span
										th:replace="fragments/ColorStat :: colorstat(value=${card.stuffvr}, rank=${rank}, label=Stu)" />
								</span>
								<span
									th:with="rank=${tournament.getRank(card.pbabipvr, card.throws, T(com.felarca.ootp.domain.CardStatSet.Stat).BABIP)}">
									<div
										th:replace="fragments/ColorStat :: colorstat(value=${card.pbabipvr}, rank=${rank}, label=Bab)" />
								</span>
								<span
									th:with="rank=${tournament.getRank(card.phrvr, card.throws, T(com.felarca.ootp.domain.CardStatSet.Stat).POWER)}">
									<div
										th:replace="fragments/ColorStat :: colorstat(value=${card.phrvr}, rank=${rank}, label=Hr)" />
								</span>
								<span
									th:with="rank=${tournament.getRank(card.controlvr, card.throws, T(com.felarca.ootp.domain.CardStatSet.Stat).EYE)}">
									<div
										th:replace="fragments/ColorStat :: colorstat(value=${card.controlvr}, rank=${rank}, label=Con)" />
								</span>
							</td>
							<td th:text="${#numbers.formatDecimal(card.overall,1,0)}">Ovr</td>
							<td th:text="${#numbers.formatDecimal(hitter.ip,1,0)}">IP</td>
							<td th:text="${#numbers.formatDecimal(hitter.getFip(3.2),0,3)}">ERA</td>
							<td th:text="${#numbers.formatDecimal(hitter.era,0,3)}">ERA</td>
							</td>
						</tr>
					</div>
				</span>
			</tbody>
		</table>
	</div>
</body>

</html>