<!DOCTYPE html>
<html>
<head></head>
<body>
	<div th:fragment="drafthittingline">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Card</th>
					<th>OVR</th>
					<th>PA</th>
					<th>OBP</th>
					<th>OPS</th>
				</tr>
			</thead>
			<tbody>
				<span th:each="hitter : ${hitters}">
					<tr th:if="${hitter.ovr < lessThan and hitter.ovr >= greaterThan}">
						<td th:text="${hitter.card}">Card</td>
						<td th:text="${#numbers.formatDecimal(hitter.ovr,1,0)}">Ovr</td>
						<td th:text="${hitter.pa}">PA</td>
						<td th:text="${#numbers.formatDecimal(hitter.obp,0,3)}">OBP</td>
						<td th:text="${#numbers.formatDecimal(hitter.ops,0,3)}">OPS</td>

					</tr>
				</span>
			</tbody>
		</table>
	</div>
</body>
</html>