<!DOCTYPE html>
<html>
<head></head>
<body>
	<div th:fragment="playerpitchingheader">
		<thead>
			<tr>
				<th>Type</th>
				<th>Team</th>
				<th>Time</th>
				<th>Card</th>
				<th>POS</th>
				<th>IP</th>
				<th>ERA</th>
				<th>WHIP</th>
				<th>K</th>
				<th>BB</th>
				<th>HR</th>
				<th>IBB</th>
				<th>PIG</th>
				<th>PPIPA</th>
				<th>
			</tr>
		</thead>
	</div>
	<div th:fragment="playerpitchingline">
		<div th:if="${hitter != null and hitter.ip > 0}">
			<tr>
				<td th:text="${type}">Type</td>
				<td th:text="${team}">Team</td>
				<div th:if="${time}">
					<td th:text="${time}">Time</td>
				</div>
				<div th:unless="${time}">
					<td>Time</td>
				</div>
				<td th:text="${hitter.card}">Card</td>
				<td th:text="${hitter.pos}">POS</td>
				<td th:text="${#numbers.formatDecimal(hitter.ip,1,0)}">IP</td>
				<td th:text="${#numbers.formatDecimal(hitter.era,1,3)}">ERA</td>
				<td th:text="${#numbers.formatDecimal(hitter.whip,0,3)}">WHIP</td>
				<td th:text="${#numbers.formatDecimal(hitter.kp9,0,3)}">WHIP</td>
				<td th:text="${#numbers.formatDecimal(hitter.bbp9,0,3)}">WHIP</td>
				<td th:text="${#numbers.formatDecimal(hitter.hrp9,0,3)}">WHIP</td>
				<td th:text="${#numbers.formatDecimal(hitter.ibbp9,0,3)}">WHIP</td>
				<td th:text="${#numbers.formatDecimal(hitter.pig,0,3)}">PIG</td>
				<td th:text="${#numbers.formatDecimal(hitter.ppipa,0,3)}">PPIPA</td>
			</tr>
		</div>
		<div th:unless="${hitter != null}">
			<tr>
				<td th:text="${type}">Type</td>
				<td th:text="${team}">Team</td>
			</tr>
		</div>
	</div>
</body>
</html>