<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

		<link rel="stylesheet" type="text/css" th:href="@{/css/search.css}" />
	<title th:text="'Draft: ' + ${meta.round}"></title>
</head>

<body>
	<h2 th:text="${meta.round}">App Title</h2>
	<div th:replace="fragments/header :: header">Default Text</div>
	</table>
	  
	<table class="table table-hover">
		<tr>
			<th>Handed</th>
			<th>Stuff</th>
			<th>pHR</th>
			<th>pBabip</th>
			<th>Control</th>
			<th>AVK</th>
			<th>Power</th>
			<th>Babip</th>
			<th>Eye</th>			
		</tr>
		<tr>
			<td>vL</td>
			<td th:text="${#numbers.formatDecimal(tournament.getCardStat(T(com.felarca.ootp.domain.CardStatSet.Handed).LEFT, T(com.felarca.ootp.domain.CardStatSet.Aggregate).AVG, T(com.felarca.ootp.domain.CardStatSet.Stat).STUFF),1,2)}">WHIP</td>
			<td th:text="${#numbers.formatDecimal(tournament.getCardStat(T(com.felarca.ootp.domain.CardStatSet.Handed).LEFT, T(com.felarca.ootp.domain.CardStatSet.Aggregate).AVG, T(com.felarca.ootp.domain.CardStatSet.Stat).PHR),1,2)}">WHIP</td>
			<td th:text="${#numbers.formatDecimal(tournament.getCardStat(T(com.felarca.ootp.domain.CardStatSet.Handed).LEFT, T(com.felarca.ootp.domain.CardStatSet.Aggregate).AVG, T(com.felarca.ootp.domain.CardStatSet.Stat).PBABIP),1,2)}">WHIP</td>
			<td th:text="${#numbers.formatDecimal(tournament.getCardStat(T(com.felarca.ootp.domain.CardStatSet.Handed).LEFT, T(com.felarca.ootp.domain.CardStatSet.Aggregate).AVG, T(com.felarca.ootp.domain.CardStatSet.Stat).CONTROL),1,2)}">WHIP</td>
			<td th:text="${#numbers.formatDecimal(tournament.getCardStat(T(com.felarca.ootp.domain.CardStatSet.Handed).LEFT, T(com.felarca.ootp.domain.CardStatSet.Aggregate).AVG, T(com.felarca.ootp.domain.CardStatSet.Stat).AVK),1,2)}">WHIP</td>
			<td th:text="${#numbers.formatDecimal(tournament.getCardStat(T(com.felarca.ootp.domain.CardStatSet.Handed).LEFT, T(com.felarca.ootp.domain.CardStatSet.Aggregate).AVG, T(com.felarca.ootp.domain.CardStatSet.Stat).POWER),1,2)}">WHIP</td>
			<td th:text="${#numbers.formatDecimal(tournament.getCardStat(T(com.felarca.ootp.domain.CardStatSet.Handed).LEFT, T(com.felarca.ootp.domain.CardStatSet.Aggregate).AVG, T(com.felarca.ootp.domain.CardStatSet.Stat).BABIP),1,2)}">WHIP</td>
			<td th:text="${#numbers.formatDecimal(tournament.getCardStat(T(com.felarca.ootp.domain.CardStatSet.Handed).LEFT, T(com.felarca.ootp.domain.CardStatSet.Aggregate).AVG, T(com.felarca.ootp.domain.CardStatSet.Stat).EYE),1,2)}">WHIP</td>
		</tr>
		<tr>
			<td>vR</td>
			<td th:text="${#numbers.formatDecimal(tournament.getCardStat(T(com.felarca.ootp.domain.CardStatSet.Handed).RIGHT, T(com.felarca.ootp.domain.CardStatSet.Aggregate).AVG, T(com.felarca.ootp.domain.CardStatSet.Stat).STUFF),1,2)}">WHIP</td>
			<td th:text="${#numbers.formatDecimal(tournament.getCardStat(T(com.felarca.ootp.domain.CardStatSet.Handed).RIGHT, T(com.felarca.ootp.domain.CardStatSet.Aggregate).AVG, T(com.felarca.ootp.domain.CardStatSet.Stat).PHR),1,2)}">WHIP</td>
			<td th:text="${#numbers.formatDecimal(tournament.getCardStat(T(com.felarca.ootp.domain.CardStatSet.Handed).RIGHT, T(com.felarca.ootp.domain.CardStatSet.Aggregate).AVG, T(com.felarca.ootp.domain.CardStatSet.Stat).PBABIP),1,2)}">WHIP</td>
			<td th:text="${#numbers.formatDecimal(tournament.getCardStat(T(com.felarca.ootp.domain.CardStatSet.Handed).RIGHT, T(com.felarca.ootp.domain.CardStatSet.Aggregate).AVG, T(com.felarca.ootp.domain.CardStatSet.Stat).CONTROL),1,2)}">WHIP</td>
			<td th:text="${#numbers.formatDecimal(tournament.getCardStat(T(com.felarca.ootp.domain.CardStatSet.Handed).RIGHT, T(com.felarca.ootp.domain.CardStatSet.Aggregate).AVG, T(com.felarca.ootp.domain.CardStatSet.Stat).AVK),1,2)}">WHIP</td>
			<td th:text="${#numbers.formatDecimal(tournament.getCardStat(T(com.felarca.ootp.domain.CardStatSet.Handed).RIGHT, T(com.felarca.ootp.domain.CardStatSet.Aggregate).AVG, T(com.felarca.ootp.domain.CardStatSet.Stat).POWER),1,2)}">WHIP</td>
			<td th:text="${#numbers.formatDecimal(tournament.getCardStat(T(com.felarca.ootp.domain.CardStatSet.Handed).RIGHT, T(com.felarca.ootp.domain.CardStatSet.Aggregate).AVG, T(com.felarca.ootp.domain.CardStatSet.Stat).BABIP),1,2)}">WHIP</td>
			<td th:text="${#numbers.formatDecimal(tournament.getCardStat(T(com.felarca.ootp.domain.CardStatSet.Handed).RIGHT, T(com.felarca.ootp.domain.CardStatSet.Aggregate).AVG, T(com.felarca.ootp.domain.CardStatSet.Stat).EYE),1,2)}">WHIP</td>
		</tr>
	</table>

	<table>
		<tr>
			<td style="vertical-align: top">
				<div
					th:replace="fragments/drafthittingline :: drafthittingline(hitters=${hitters},lessThan=${lessThen},greaterThan=${greaterThen}, tournament=${tournament})">
				</div>
			</td>
			<td style="vertical-align: top">
				<div th:replace="fragments/draftpitchingline :: draftpitchingline(hitters=${pitchers},lessThan=${lessThen},greaterThan=${greaterThen}, tournament=${tournament})"></div>
			</td>
		</tr>
	</table>

	<script src="/js/search.js"></script>


	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>

</html>