<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

	<title>Home</title>
</head>

<body>
	<h2 th:text="#{app.title}">App Title</h2>
	<div th:replace="fragments/header :: header">Default Text</div>
	</table>


	<script type="text/javascript" th:inline="javascript">
		google.charts.load('current', { 'packages': ['corechart'] });
		google.charts.setOnLoadCallback(drawChart);

		function drawChart() {
			// ******************START EYE**********************************
			var eye_data = /*[[${eyeData}]]*/'noValue';
			var eyeData = new google.visualization.DataTable();
			eyeData.addColumn('number', 'Eye');
			eyeData.addColumn('number', 'BB');
			Object.keys(eye_data).forEach(function (key) {
				eyeData.addRow([parseFloat(key), eye_data[key]]);
			});
			var eyeOptions = {
				title: 'Eye vs. BB comparison',
				hAxis: { title: 'Eye', minValue: 0, maxValue: 120 },
				vAxis: { title: 'BB1', minValue: 0, maxValue: 35 },
				trendlines: {
            		0: {
              			type: 'linear',
              			showR2: true,
              			visibleInLegend: true
            		}
				}
			};

			var eyeChart = new google.visualization.ScatterChart(document.getElementById('eye_div'));

			eyeChart.draw(eyeData, eyeOptions);
			// *********************START K*************************************************
			var k_data = /*[[${kData}]]*/'noValue';
			var kData = new google.visualization.DataTable();
			kData.addColumn('number', 'AvK');
			kData.addColumn('number', 'K');
			Object.keys(k_data).forEach(function (key) {
				kData.addRow([parseFloat(key), k_data[key]]);
			});
			var kOptions = {
				title: 'AvK vs. K comparison',
				hAxis: { title: 'AvK', minValue: 0, maxValue: 120 },
				vAxis: { title: 'K', minValue: 0, maxValue: 35 },
				legend: 'none',
				trendlines: {
					0: {
						type: 'polynomial',
						degree: 1,
						visibleInLegend: true,
					}
				}
			};

			var kChart = new google.visualization.ScatterChart(document.getElementById('k_div'));

			kChart.draw(kData, kOptions);
			//*************************************Start Power**************************************************
			var real_data = /*[[${chartData}]]*/'noValue';

			//var start_data = google.visualization.arrayToDataTable(d);
			var data = new google.visualization.DataTable();
			data.addColumn('number', 'Power');
			data.addColumn('number', 'Homeruns');
			Object.keys(real_data).forEach(function (key) {
				data.addRow([parseFloat(key), real_data[key]]);
			});
			var options = {
				title: 'Power vs. HomeRuns comparison',
				hAxis: { title: 'Power', minValue: 0, maxValue: 120 },
				vAxis: { title: 'Homeruns', minValue: 0, maxValue: 35 },
				legend: 'none',
				trendlines: {
					0: {
						type: 'polynomial',
						degree: 2,
						visibleInLegend: true,
					}
				}
			};

			var chart = new google.visualization.ScatterChart(document.getElementById('chart_div'));

			chart.draw(data, options);

			//*************************************Start Babip**************************************************
			var babip_data = /*[[${babipData}]]*/'noValue';

			//var start_data = google.visualization.arrayToDataTable(d);
			var babipData = new google.visualization.DataTable();
			babipData.addColumn('number', 'Power');
			babipData.addColumn('number', 'Homeruns');
			Object.keys(babip_data).forEach(function (key) {
				babipData.addRow([parseFloat(key), babip_data[key]]);
			});
			var babipOptions = {
				title: 'Card babip vs. Obs Babip comparison',
				hAxis: { title: 'Card', minValue: 0, maxValue: 120 },
				vAxis: { title: 'Observed', minValue: 0.1, maxValue: 0.5 },
				legend: 'none',
				trendlines: {
					0: {
						type: 'polynomial',
						degree: 2,
						visibleInLegend: true,
					}
				}
			};

			var babipChart = new google.visualization.ScatterChart(document.getElementById('babip_div'));

			babipChart.draw(babipData, babipOptions);

			//*************************************Start Doubles**************************************************
			var double_data = /*[[${doubleData}]]*/'noValue';

			//var start_data = google.visualization.arrayToDataTable(d);
			var doubleData = new google.visualization.DataTable();
			doubleData.addColumn('number', 'Gap');
			doubleData.addColumn('number', 'Doubles');
			Object.keys(double_data).forEach(function (key) {
				doubleData.addRow([parseFloat(key), double_data[key]]);
			});
			var doubleOptions = {
				title: 'Card Gap vs. Doubles comparison',
				hAxis: { title: 'Gao', minValue: 0, maxValue: 120 },
				vAxis: { title: 'Doubles', minValue: 0.1, maxValue: 0.5 },
				legend: 'none',
				trendlines: {
					0: {
						type: 'polynomial',
						degree: 1,
						visibleInLegend: true,
					}
				}
			};

			var doubleChart = new google.visualization.ScatterChart(document.getElementById('double_div'));

			doubleChart.draw(doubleData, doubleOptions);

			//*************************************Start Triples**************************************************
			var triple_data = /*[[${tripleData}]]*/'noValue';

			//var start_data = google.visualization.arrayToDataTable(d);
			var tripleData = new google.visualization.DataTable();
			tripleData.addColumn('number', 'Nothing');
			tripleData.addColumn('number', 'Triples');
			Object.keys(triple_data).forEach(function (key) {
				tripleData.addRow([parseFloat(key), triple_data[key]]);
			});
			var tripleOptions = {
				title: 'Gap vs. triples comparison',
				hAxis: { title: 'Gao', minValue: 0, maxValue: 120 },
				vAxis: { title: 'Triple', minValue: 0.1, maxValue: 0.5 },
				legend: 'none',
				trendlines: {
					0: {
						type: 'polynomial',
						degree: 1,
						visibleInLegend: true,
					}
				}
			};

			var tripleChart = new google.visualization.ScatterChart(document.getElementById('triple_div'));

			tripleChart.draw(tripleData, tripleOptions);
		}
	</script>
	<div id="eye_div" style="width: 1500px; height: 500px;"></div>
	<div id="k_div" style="width: 1500px; height: 500px;"></div>
	<div id="chart_div" style="width: 1500px; height: 500px;"></div>
	<div id="babip_div" style="width: 1500px; height: 500px;"></div>
	<div id="double_div" style="width: 1500px; height: 500px;"></div>
	<div id="triple_div" style="width: 1500px; height: 500px;"></div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>

</html>