<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
<title>Home</title>
</head>
<body>
	<h2 th:text="#{app.title}">App Title</h2>
	<div th:replace="fragments/header :: header">Default Text</div>
	<table class="table table-hover">
	<thead>
				<div th:replace="fragments/playerhittingline :: metaplayerhittingheader"></div>
	</thead>
		<tbody>
			<div th:replace="fragments/playerhittingline :: metahittingline(hitter=${metaHitter},type=Type,team=Team,time=Time)"></div>
		</tbody>
	</table>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Id</th>
				<th>Card</th>
				<th>POS</th>
				<th>OVR</th>
				<th>PA</th>
				<th>PIPA</th>
				<th>OBP</th>
				<th>OPS</th>
				<th>SB</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="hitter : ${hitters}">
				<div th:if="${param.team}">
					<td><a th:href="@{/player/{id}(id=${hitter.cid},team=${param.team})}">view</a>|<a class="btn btn-primary btn-circle btn-sm" role="button"
							th:href="@{/player/{id}/trend(id=${hitter.cid},type=bronze)}">T</a></td>
				</div>
				<div th:unless="${param.team}">
					<td><a th:href="@{/player/{id}(id=${hitter.cid})}">view</a></td>
				</div>
				<td th:text="${hitter.card}">Card</td>
				<td th:text="${hitter.pos}">POS</td>
				<td th:text="${#numbers.formatDecimal(hitter.ovr,1,0)}">Ovr</td>
				<td th:text="${hitter.pa}">PA</td>
				<td th:text="${#numbers.formatDecimal(hitter.pipa,1,3)}">Pipa</td>
				<td th:text="${#numbers.formatDecimal(hitter.obp,0,3)}">OBP</td>
				<td th:text="${#numbers.formatDecimal(hitter.ops,0,3)}">OPS</td>
				<td><span th:text="${#numbers.formatDecimal(hitter.getSbp600(),2,2)}" th:classappend="${hitter.getSbp600 > 10 } ? text-success : text-muted"></span>(<span
					th:text="${#numbers.formatDecimal(hitter.getSbPercent(),2,2)}" th:classappend="${hitter.getSbPercent > 74 } ? text-success : text-danger"></span>)
					<span th:text="${#numbers.formatDecimal(hitter.getCsp600(),2,2)}" th:classappend="${hitter.getCsp600 > 10 } ? text-danger : text-muted"></span></td>
			</tr>
		</tbody>
	</table>

	<div th:replace="fragments/footer :: footer">Default Text</div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
</body>
</html>