<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<title>Home</title>
</head>

<body>
	<h2 th:text="Models">App Title</h2>
	<div th:replace="fragments/positionProjections :: positionProjections">Default Text</div>
	<table class="table table-striped">
		<thead class="thead-dark">
			<tr>
				<th scope="col">Model Short Name</th>
				<th scope="col">Size</th>
				<th scope="col" colspan="1" class="text-left">Datasets</th>
				<th scope="col" colspan="1" class="text-left">Era</th>
				<th scope="col" colspan="1" class="text-left">Stuff</th>
			</tr>			
		</thead>
		<tbody>
		<div th:each="element : ${T(com.felarca.ootp.domain.OotpModel).models}">
			<div th:with="oModel=${element.value}, str=${element.key}">
				<tr>
					<td><span th:text="${oModel.modelShortName}" /><br />
						PA Filter: <span th:text="${oModel.paFilter}" /><br />
						BF Filter: <span th:text="${oModel.bfFilter}" /><br />
					</td>
					<td>
						Hitters in model: <span th:text="${oModel.hittingModelSize}" /><br />
						Pitchers in model: <span th:text="${oModel.pitchingModelSize}" /><br />
						Pitches Left: <span th:text="${oModel.lPitches}" /> Right: <span th:text="${oModel.rPitches}" /><br />
						PA Left: <span th:text="${oModel.lBatters}" /> Right: <span th:text="${oModel.rBatters}" /> Switch: <span th:text="${oModel.sBatters}" /><br />
					</td>
					<td>
						<div th:each="string : ${oModel.datasets}">
							<span th:text="${string}" /><br />
						</div>
					</td>
					<td>
						<div th:with="era=${oModel.defaultEra}">
							<span th:text="${era.start}" /> - <span th:text="${era.end}" />
						</div>
					</td>
					<td>
						<a class="btn btn-primary btn-sm" th:href="@{/model/{id}(id = ${str}, time=R3)}" th:target="_blank">Calculate</a>
						<a class="btn btn-primary btn-sm" th:href="@{/tournament(tournamentShortName = ${tournament?.tournamentShortName}, modelShortName = ${oModel?.modelShortName}, time=R3)}">Pick a tournament</a>
					</td>
				</tr>
			</div>
		</div>
		</tbody>
	</table>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>

</html>