<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
	<title>Home</title>
</head>

<body>
	<h2>Tournament: <span th:text="${meta.tournamentType}"></span>
	</h2>
	<div th:replace="fragments/header :: header">Default Text</div>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Id</th>
				<th>Card</th>
				<th>Badges</th>
				<th>OVR</th>
				<th>IP</th>
				<th>ERA</th>
				<th>WHIP</th>
				<th>PPIPA</th>
				<th>PIG</th>
			</tr>
		</thead>
		<a class="btn btn-primary btn-sm"
			th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
			th:href="${urlBuilder.replaceQueryParam('type', 'Live').build(false).toUriString()}">Live
		</a>
		<a class="btn btn-primary btn-sm"
			th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
			th:href="${urlBuilder.replaceQueryParam('type', 'Historic').build(false).toUriString()}">Historic
		</a>
		<tbody>
			<tr th:each="pitcher : ${pitchers}">
				<div th:with="card=${cards.getCard(pitcher.cid)}">
					<div
						th:if="${param.type == null or (#strings.equals(param.type,'Live') and #strings.equals(cards.type(pitcher.cid),'Live')) or (#strings.equals(param.type,'Historic')and not #strings.equals(cards.type(pitcher.cid),'Live'))}">
						<td>
							<div th:if="${param.team}">
								<a class="btn btn-primary btn-circle btn-sm" role="button"
									th:href="@{/player/{id}(id=${pitcher.cid},team=${param.team})}">C</a>|<a
									class="btn btn-primary btn-circle btn-sm" role="button"
									th:href="@{/player/{id}/trend(id=${pitcher.cid},type=${meta.tournamentType})}">T</a>|<a
									class="btn btn-primary btn-circle btn-sm" role="button"
									th:href="@{/player/{id}/tbt(id=${pitcher.cid},type=${meta.tournamentType},time=${param.time})}">TBT</a>
							</div>
							<div th:unless="${param.team}">
								<a class="btn btn-primary btn-circle btn-sm" role="button"
									th:href="@{/player/{id}(id=${pitcher.cid})}">C</a>|<a
									class="btn btn-primary btn-circle btn-sm" role="button"
									th:href="@{/player/{id}/trend(id=${pitcher.cid},type=${meta.tournamentType})}">T</a>|<a
									class="btn btn-primary btn-circle btn-sm" role="button"
									th:href="@{/player/{id}/tbt(id=${pitcher.cid},type=${meta.tournamentType},time=${meta.defaultEra})}">TBT</a>

							</div>
						</td>
						<td>
							<span th:text="${cards.type(pitcher.cid)}" />,
							<span th:text="${cards.name(pitcher.cid)}" />
						</td>
						<td>
							<span th:if="${card.stamina > 50 }">
								<span class="badge rounded-pill bg-success text-light">
									Stam
									<span class="badge badge-light">
										<span th:text="${card.stamina}" />
									</span>
								</span>
							</span>
							<span th:if="${card.stamina <= 50 }">
								<span class="badge rounded-pill bg-primary text-light">
									Stam
									<span class="badge badge-light">
										<span th:text="${card.stamina}" />
									</span>
								</span>
							</span>
							<span th:text="${card.handed}" class="badge badge-pill badge-dark" />
							<span th:if="${card.splits <= 20 and card.splits >= -20}">
								<span class="badge rounded-pill bg-success text-light">N</span>
							</span>
							<span th:if="${card.splits > 20 and card.handed == 'LHP'}">
								<span class="badge badge-primary">L
									<span class="badge badge-light">
										<span th:text="${card.splits}" />
									</span></span>
							</span>
							<span th:if="${card.splits &lt; -20 and card.handed == 'RHP'}">
								<span class="badge badge-primary">R
									<span class="badge badge-light">
										<span th:text="${T(java.lang.Math).abs(card.splits)}" />
									</span></span>
							</span>
							<span th:if="${card.splits > 20 and card.handed == 'RHP'}">
								<span class="badge rounded-pill bg-danger text-light">
									R
									<span class="badge badge-light">
										<span th:text="${card.splits}" />
									</span>
								</span>
							</span>
							<span th:if="${card.splits &lt; -20 and card.handed == 'LHP'}">
								<span class="badge rounded-pill bg-danger text-light">R</span>
							</span>
							<span th:if="${owned.owned(pitcher.cid)!=null}"><span
									class="badge badge-primary">Owned</span></span>
						</td>
						<td th:text="${#numbers.formatDecimal(pitcher.ovr,1,0)}">OVR</td>
						<td th:text="${#numbers.formatDecimal(pitcher.innings,1,1)}">IP</td>
						<td th:text="${#numbers.formatDecimal(pitcher.era,1,3)}">ERA</td>
						<td th:text="${#numbers.formatDecimal(pitcher.whip,1,3)}">WHIP</td>
						<td th:text="${#numbers.formatDecimal(pitcher.ppipa,1,3)}">ERA</td>
						<td th:text="${#numbers.formatDecimal(pitcher.pig,1,3)}">ERA</td>
					</div>
				</div>
			</tr>
		</tbody>
	</table>

	<div th:replace="fragments/footer :: footer">Default Text</div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
</body>

</html>