<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<title th:text="${tournament?.tournamentShortName}" ></title>
</head>

<body>
	<div th:replace="fragments/positionProjections :: positionProjections">Default Text</div>
	Versus Left
	<table>
		<tr>
			<td>
				<table border="1">
					<tr>
						<th>
							Pos
						</th>
						<th colspan="9">
							Rank
						</th>
					</tr>
					<span th:each="pos : ${T(com.felarca.ootp.domain.CardStatSet.Position).values()}">
						<div th:if="${posStat.index &gt; 1 AND posStat.index &lt; 11}">
							<div
								th:replace="fragments/top10 :: top10(projections=${tournament.versusLeft.get(pos)},pos=${pos}, handed=1)">
							</div>
						</div>
					</span>
				</table>
			</td>
		</tr>
	</table>

	<h2>Versus Right</h2>
	<table>
		<tr>
			<td>
				<table border="1">
					<tr>
						<th>
							Pos
						</th>
						<th colspan="9">
							Rank
						</th>
					</tr>
					<span th:each="pos : ${T(com.felarca.ootp.domain.CardStatSet.Position).values()}">
						<div th:if="${posStat.index &gt; 1 AND posStat.index &lt; 11}">
							<div
								th:replace="fragments/top10 :: top10(projections=${tournament.versusRight.get(pos)},pos=${pos}, handed=2)">
							</div>
						</div>
					</span>
				</table>
			</td>
		</tr>
	</table>
	<h2>Starting Pitcher</h2>
	<table>
		<tr>
			<td>
				<table border="1">
					<tr>
						<th>
							Pos
						</th>
						<th colspan="9">
							Rank
						</th>
					</tr>
					<span th:each="pos : ${T(com.felarca.ootp.domain.CardStatSet.Position).values()}">
						<div th:if="${ posStat.index == 11}">
							<div
								th:replace="fragments/top10 :: top10P(projections=${tournament.versusRight.get(pos)},pos=${pos}, role=1, start=0)">
							</div>
						</div>
					</span>
					<span th:each="pos : ${T(com.felarca.ootp.domain.CardStatSet.Position).values()}">
						<div th:if="${ posStat.index == 11}">
							<div
								th:replace="fragments/top10 :: top10P(projections=${tournament.versusRight.get(pos)},pos=${pos}, role=1, start=10)">
							</div>
						</div>
					</span>
					<span th:each="pos : ${T(com.felarca.ootp.domain.CardStatSet.Position).values()}">
						<div th:if="${ posStat.index == 11}">
							<div
								th:replace="fragments/top10 :: top10P(projections=${tournament.versusRight.get(pos)},pos=${pos}, role=1, start=20)">
							</div>
						</div>
					</span>
				</table>
			</td>
		</tr>
	</table>
	<h2>Relief Pitcher</h2>
	<table>
		<tr>
			<td>
				<table border="1">
					<tr>
						<th>
							Pos
						</th>
						<th colspan="9">
							Rank
						</th>
					</tr>

					<span th:each="pos : ${T(com.felarca.ootp.domain.CardStatSet.Position).values()}">
						<div th:if="${ posStat.index == 12}">
							<div
								th:replace="fragments/top10 :: top10P(projections=${tournament.versusRight.get(pos)},pos=${pos}, role=2, start=0)">
							</div>
						</div>
					</span>
					<span th:each="pos : ${T(com.felarca.ootp.domain.CardStatSet.Position).values()}">
						<div th:if="${ posStat.index == 12}">
							<div
								th:replace="fragments/top10 :: top10P(projections=${tournament.versusRight.get(pos)},pos=${pos}, role=2, start=10)">
							</div>
						</div>
					</span>
					<span th:each="pos : ${T(com.felarca.ootp.domain.CardStatSet.Position).values()}">
						<div th:if="${ posStat.index == 12}">
							<div
								th:replace="fragments/top10 :: top10P(projections=${tournament.versusRight.get(pos)},pos=${pos}, role=2, start=20)">
							</div>
						</div>
					</span>
				</table>
			</td>
		</tr>
	</table>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>

</html>